<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-right to-right">
        <%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-primary  navbar-btn navbar-right" %>
    </div>
    <div class="navbar-header">
      <%= image_tag("Cocktail_logo-klein.png")%>
    </div>
   <!--  <div class="navbar-header">
      <p class="navbar-brand" id="left-header-text">Cocktail shakers</p>
    </div> -->
  </div>
</nav>
