@import "utilities";
@import "footer";
@import "navbar";

.center {
  text-align: center;
  width:50%;
  margin: auto auto;
  th {
    text-align: center;
    font-size: 2em;
  }
  td {
    font-size: 1.5em;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}


.new-cocktail {
  margin-top: 70px;
}

body {
  background-image: image-url("summer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.white {
  background-color: rgba(0,0,0,0.4);
}

a {
  color: white;
}

ul {
  list-style-type: none;
  span {
    text-align: right;
  }
}

